BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 0

PenaltyBreakAssignment: 100000

AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BreakBeforeBinaryOperators: None

AllowShortFunctionsOnASingleLine: All
AllowShortEnumsOnASingleLine: false